* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gainsboro;
  border: gray;
}

.col-md-5 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
}
.box {
  border: 1px salmon solid;
  padding: 30px;
  border-radius: 20px;
  /* background-color: aquamarine; */
}
.box label {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

#mybtn {
  padding: 8px;
}
#mybtn button {
  margin-left: 8px;
}
